<!--//////////////////////////////////////////////////////////////CLASE1-->

<!--<p>-->
<!--inicio works!-->
<!--</p>-->


<!--p.rojo-->
<!--<p class="rojo"></p>-->

<!--p#verde-->
<!--<p id="verde"></p>-->

<!--div.verde-->
<!--.verde-->
<!--<div class="verde"></div>-->

<!--img.imagen-responsiva*2-->
<!--<img src="" alt="" class="imagen-responsiva">-->
<!--<img src="" alt="" class="imagen-responsiva">-->

<!--h1>a-->
<!--<h1><a href=""></a></h1>-->

<!--ol>li*4-->

<!--<ol>-->
<!--<li4></li4>-->
<!--<li4></li4>-->
<!--<li4></li4>-->
<!--<li4></li4>-->
<!--</ol>-->

<!--h2.clase1.clase2.clase3-->
<!--<h2 class="clase1 clase2 clase3"></h2>-->

<!--.fila>.columna+.columna+h1-->

<!--<div class="fila">-->
<!--<div class="columna"></div>-->
<!--<div class="columna"></div>-->
<!--<h1></h1>-->
<!--</div>-->






<!--<h1>Titulo</h1>-->

<!--<p>ContenidoContenid oCont enidoContenidoCon tenidoContenidoContenid oCont Conteni doCon tenidoC ont enidoContenido</p>-->

<!--//////////////////////////////////////////////////CLASE2-->
<!--<div class="container">-->

<!--.row>.col-->

<!--<div class="row">-->
<!--&lt;!&ndash; col-tamano-valor &ndash;&gt;-->
<!--<div style="background-color:red;"-->
<!--class="col-sm-6">-->
<!--ROJO-->
<!--</div>-->
<!--<div style="background-color:red;"-->
<!--class="col-sm-6">-->
<!--ROJO-->
<!--</div>-->



<!--<div style="background-color:blue;"-->
<!--class="col-md-4">-->
<!--AZUL-->
<!--</div>-->
<!--<div style="background-color:blue;"-->
<!--class="col-md-4">-->
<!--AZUL-->
<!--</div>-->
<!--<div style="background-color:blue;"-->
<!--class="col-md-4">-->
<!--AZUL-->
<!--</div>-->




<!--<div style="background-color:yellow;"-->
<!--class="col-lg-7">-->
<!--AMARILLO-->
<!--</div>-->
<!--<div style="background-color:yellow;"-->
<!--class="col-lg-5">-->
<!--AMARILLO-->
<!--</div>-->



<!--<div style="background-color:green;"-->
<!--class="col-xl-6">-->
<!--VERDE-->
<!--</div>-->
<!--<div style="background-color:green;"-->
<!--class="col-xl-3">-->
<!--VERDE-->
<!--</div>-->
<!--<div style="background-color:green;"-->
<!--class="col-xl-2">-->
<!--VERDE-->
<!--</div>-->
<!--<div style="background-color:green;"-->
<!--class="col-xl-1">-->
<!--VERDE-->
<!--</div>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<div style="background-color: yellow" class="row">-->
<!--<div style="background-color: black" class="col-md-6">COL6</div>-->

<!--<div style="background-color: black" class="col-md-6">-->
<!--COL6-->
<!--<div style="background-color: yellow" class="row">-->
<!--<div style="background-color: red" class="col-md-12">-->
<!--COL-12-->
<!--<div style="background-color: yellow" class="row">-->
<!--<div style="background-color: blue" class="col-md-4">-->
<!--COL4-->
<!--</div>-->
<!--<div style="background-color: green" class="col-md-4">-->
<!--COL4-->
<!--</div>-->
<!--<div style="background-color: red" class="col-md-4">-->
<!--COL4-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--INICIO PAGINA BOOSTRAP EJEMPLO DE RESPONSIVE-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="row">-->
<!--<div class="col-sm-2" id="menuBootstrap">Bootstrap</div>-->
<!--<div class="col-sm-2">Documentation</div>-->
<!--<div class="col-sm-2">Examples</div>-->
<!--<div class="col-sm-2">Themes</div>-->
<!--<div class="col-sm-2">Expo</div>-->
<!--<div class="col-sm-2">Blog</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6"></div>-->
<!--</div>-->
<!--<div style="background-color: #3f2c5b" class="row">-->
<!--<div class="col-lg-12">-->
<!--<br><br><br><br>-->
<!--<div  class="row">-->
<!--<div class="col-sm-5"></div>-->
<!--<div class="col-sm-2">-->
<!--<img class="logoBoostrap" src="http://getbootstrap.com/apple-touch-icon.png" alt="logo boostrap">-->
<!--</div>-->
<!--<div class="col-sm-5"></div>-->
<!--</div>-->
<!--<p style="color: white">Bootstrap is the most popular HTML, CSS, and JS framework<br>in the world for building responsive, mobile-first projects on<br>the web.</p><br>-->
<!--<div class="row">-->
<!--<div class="col-sm-5"></div>-->
<!--<div class="col-sm-3">-->
<!--<button href="/getting-started/download/" class="btn-lg" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 4.0.0-alpha.6');">Download Bootstrap</button>-->
<!--</div>-->
<!--<div class="col-sm-4"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4"></div>-->
<!--<div class="col-md-4">-->
<!--<p style="color: #cdbfe3">Currently v4.0.0-alpha.6</p>-->
<!--<img src="../../../assets/imagenes/imagen1.PNG" alt=""></div>-->
<!--</div>-->
<!--<div class="col-md-4"></div>-->
<!--<br><br><br>-->
<!--</div>-->
<!--<div class="row">-->
<!--<h1>Easy to get started.</h1>-->
<!--<p> Quickly include Bootstrap's CSS and JS into any project. Use your favorite package<br>manager, download the source, or use the Bootstrap CDN.</p>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<h2>Managed dependencies</h2>-->
<!--<p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.</p>-->
<!--<button class="btn">View Install Methods</button>-->


<!--</div>-->
<!--<div class="col-sm-6">-->

<!--<h2>Bootstrap CDN</h2>-->
<!--<p>When you just need to include Bootstrap's compiled CSS and JS, use the Bootstrap CDN, free from the Max CDN folks.</p>-->

<!--<code class="language-html" data-lang="html">-->
<!--<br>-->
<!--&lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"&gt;-->
<!--<br>-->
<!--&lt;script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous">&lt;/script&gt;-->
<!--<br>-->
<!--&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"&gt;&lt;/script&gt;-->
<!--<br>-->
<!--&lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"&gt;&lt;/script&gt;-->
<!--</code>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<p><strong>Looking for something else?</strong> Compiled builds of Bootstrap's CSS and JS are also available.</p>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<button class="btn">More download options</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<h1>Designed for everyone, everywhere.</h1>-->
<!--<p>Bootstrap makes front-end web development faster and easier. It's made for folks of all<br>skill levels, devices of all shapes, and projects of all sizes.</p>-->
<!--</div>-->
<!--<div  class="row">-->
<!--<div class="col-sm-4">-->
<!--<img class="Imagen2" src="../../../assets/imagenes/imagen2.PNG" alt="imagen2">-->
<!--<h1>Preprocessor</h1>-->
<!--<p>Bootstrap ships with vanilla CSS, but its source code utilizes Sass, a popular CSS preprocessor. Quickly get started with precompiled CSS or build on the source.</p>-->
<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<img class="Imagen3" src="../../../assets/imagenes/imagen3.PNG" alt="imagen3">-->
<!--<h1>One framework, every device.</h1>-->
<!--<p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>-->

<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<img class="Imagen4" src="../../../assets/imagenes/imagen4.PNG" alt="imagen4">-->
<!--<h1> Full of features</h1>-->
<!--<p>With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<p><strong>Bootstrap is open source!</strong>  It's hosted, developed, and maintained on GitHub by folks like you.</p>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<button class="btn">View the GitHub peoject</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<h1>Official Bootstrap Themes.</h1>-->
<!--<p>Take Bootstrap to the next level with official premium themes. Each theme is its own<br>toolkit featuring all of Bootstrap, brand new components and plugins, full docs, build<br>tools, and more.</p>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-5"></div>-->
<!--<div class="col-sm-2">-->
<!--<button class="btn">Browse themes</button>-->
<!--</div>-->
<!--<div class="col-sm-5"></div>-->
<!--</div>-->
<!--<br><br><br>-->
<!--</div>-->


<!--/////////////////////////////////////////////////////CLASE3-->

<!--etiquetas de evento y data binding-->
<!--<div class="container">-->
<!--<input type="text" [value]="nombre">{{nombre}}-->
<!--<br>-->
<!--<button class="btn btn-primary" (click)="cambiarNombre()">Cambiar valor</button>-->
<!--<button (blur)="cambiarOtroNombre()">Clikeame</button>-->

<!--<h1 (click)="cambiarOtroNombre()">Lenin a Rfico</h1>-->
<!--</div>-->

<!--con vistas al componete-->
<!--<div class="container">-->
<!--&lt;!&ndash;<input placeholder="Ingrese texto" type="text" [value]="nombre" #nombreEtiqueta>{{nombre}}&ndash;&gt;-->

<!--&lt;!&ndash;BANANA BOX MODEL&ndash;&gt;-->

<!--<input placeholder="Ingrese texto" type="text" [ngModel]="nombre">{{nombre}}-->
<!--<img [src]="nombre" alt="">-->
<!--<br>-->
<!--<button class="btn btn-primary" (click)="cambiarNombre()">Cambiar valor</button>-->
<!--<button (blur)="cambiarOtroNombre()">Clickeame</button>-->
<!--<h1 (click)="cambiarNombreInput(nombreEtiqueta)">Lenin a Rafico</h1>-->

<!--</div>-->

<!--directiva ngFor-->
<!--/////////////////////////////////-->
<!--<div class="container" >-->
<!--<h1>Bienvenidos</h1>-->
<!--<h2>Usuarios conectados</h2>-->

<!--<div class="row">-->
<!--<div  *ngFor="let usuario of arregloUsuarios">-->
<!--<div class="col-sm-4" *ngIf="usuario.conectado"><div class="card" style="with: 20rem">-->
<!--<div class="card-block">-->
<!--<h4 class="card-title">{{usuario.nombre}}- {{usuario.conectado}}</h4>-->
<!--<p class="card-text">{{usuario.nombre}}+{{usuario.apellido}}</p>-->
<!--<a href="#" class="btn btn-primary btn-block">ir al perfil</a>-->
<!--</div>-->
<!--</div></div>-->
<!--</div>-->
<!--</div>-->



<!--<div class="row">-->
<!--<div *ngFor="let planeta of planetas">-->
<!--<div class="col-md-6">-->
<!--<h1>{{planeta.name}}</h1>-->
<!--</div>-->
<!--<h1>{{planeta.name}}</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--<ul>-->
<!--<li *ngFor="let usuario of arregloUsuarios">{{usuario.nombre}}</li>-->
<!--</ul>-->
<!--</div>-->


<!--ngIf-->
<!--<p *ngIf="(1+1)==2">hola</p>-->
<!--<p *ngIf="(1+1)!=2">Adios</p>-->


<!--<p *ngIf="true">TRUE</p>-->

<!--<p *ngIf="false">FALSE</p>-->

<!--<p *ngIf="undefined">UNDEFINED</p>-->

<!--<p *ngIf="null">NULL</p>-->
<!--<p *ngIf="0">CERO</p>-->
<!--<p *ngIf="nombre">NOMBRE</p>-->
<!--</div>-->


<!--////////////////////////deber -->
<!--<div class="container" style="background-color: #222;   color: #ffffff;" >-->
<!--<h1>Bienvenidos</h1>-->
<!--<h2>Planetas de Star wars</h2>-->
<!--<br>-->
<!--<button class="btn btn-outline-success" (click)="cargarPlanetas()">Cargar Planetas</button>-->
<!--\-->
<!--<br>-->
<!--<ul id="lista">-->
<!--<li *ngFor="let planetas of planetas">-->
<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Alderaan'" >-->
<!--<img src="http://images2.wikia.nocookie.net/__cb20100207072546/masseffect/images/thumb/7/7d/2175_aeia.jpg/320px-2175_aeia.jpg" width="270" height="270" alt="">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Yavin IV'">-->
<!--<img src="https://vignette4.wikia.nocookie.net/es.starwars/images/a/a0/Eaw_Yavin4.jpg/revision/latest/scale-to-width-down/350?cb=20080127231835" width="270" height="270" alt="">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Hoth'">-->
<!--<img src="https://vignette4.wikia.nocookie.net/starwars/images/1/1d/Hoth_SWCT.png/revision/latest?cb=20160630022322" width="270" height="270" alt="">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Dagobah'">-->
<!--<img src="https://s-media-cache-ak0.pinimg.com/originals/72/76/16/727616fdc990d43935ce284c695000d0.jpg" width="290" height="270" alt="">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Bespin'">-->
<!--<img src="https://vignette3.wikia.nocookie.net/starwars/images/2/2c/Bespin_EotECR.png/revision/latest/scale-to-width-down/500?cb=20170222012550" width="270" height="270" alt="">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Endor'">-->
<!--<img src="http://www.theforce.net/swtc/Pix/diagram/endorsys1.jpg" width="350" height="270" alt="">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Naboo'">-->
<!--<img src="https://vignette2.wikia.nocookie.net/starwars/images/3/3c/Naboo.png/revision/latest?cb=20071124184023" width="300" height="270" alt="">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Coruscant'">-->
<!--<img src="http://vignette1.wikia.nocookie.net/starwars/images/1/16/Coruscant-EotE.jpg/revision/latest?cb=20130908205521" width="290" height="270" alt="">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Kamino'">-->
<!--<img src="https://vignette2.wikia.nocookie.net/swfanon/images/6/6b/Kamino_planet.jpg/revision/latest?cb=20070218002841" width="300" height="270" alt="" style="border: groove">-->
<!--</div>-->
<!--<div class="imgplaneta" *ngIf="planetas.name=='Geonosis'">-->
<!--<img src="https://www.universeguide.com/pictures/geonosis.jpg" width="280" height="270" alt="">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--<h2 class="nombre"><br><br><br>{{planetas.name}}</h2>-->
<!--</div>-->

<!--</div>-->
<!--<br>-->
<!--<div class="datosplanetas">-->
<!--<p>Periodo de Rotacion:  {{planetas.rotation_period}}</p>-->
<!--<p>Periodo Orbital: {{planetas.orbital_perio}}</p>-->
<!--<p>Diametro: {{planetas.diameter}}</p>-->
<!--<p>Clima: {{planetas.climate}}</p>-->
<!--<p>Gravedad: {{planetas.gravity}}</p>-->
<!--<p>Terrono: {{planetas.terrain}}</p>-->
<!--<p>Superficie del Agua: {{planetas.surface_water}}</p>-->
<!--<p>Poblacion: {{planetas.population}}</p>-->
<!--<p>Residentes: {{planetas.residents}}</p>-->
<!--<p>Films: {{planetas.films}}</p>-->
<!--<p>Creado: {{planetas.created}}</p>-->
<!--<p>Editado: {{planetas.edited}}</p>-->
<!--<p>URL: {{planetas.url}}</p>-->
<!--<br>-->
<!--<br>-->
<!--</div>-->

<!--</li>-->
<!--</ul>-->




<!--</div>-->
<!--///////////////////////////////////clase 4 13/06/2017-->

<!--<div class="container" >-->
<!--<h1>Bienvenidos</h1>-->

<!--<h2>Usuarios</h2>-->

<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<div class="form-group">-->
<!--<pre>-->
<!--{{ nuevoUsuario |json}}-->
<!--</pre>-->
<!--<label class="col-form-label">Text</label>-->
<!--<input class="form-control"-->
<!--placeholder="Ingrese nuevo nombre"-->
<!--[(ngModel)]="nuevoUsuario.nombre" type="text">-->
<!--</div>-->
<!--<button class="btn btn-success" (click)="crearUsuario()">Crear usuario</button>-->
<!--</div>-->
<!--</div>-->
<!--<button class="btn btn-outline-success" (click)="cargarPlanetas()">Cargar Planetas</button>-->

<!--<div class="row">-->
<!--<div class="col-sm-4" *ngFor="let planeta of planetas;let i = index;">-->

<!--<app-planeta-star-wars [planeta]="planeta"></app-planeta-star-wars>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--///////////////////////////deber componentes-->


<!--AQUÍ INICIA LO DEL PLANETA DE STAR WARS ---------------------------------  -->
<!--splice eliminar del arreglo y push para agregar-->
<div class="container" style="background-color: black">
  <h2>Planetas</h2>
  <button class="btn btn-outline-success" (click)="cargarPlanetas()">Cargar Planetas</button>
  <br>
  <div class="row">
    <div class="col-sm-4" *ngFor="let planetaVariable of planetas; let i=index; ">
      <app-planeta-star-wars [planeta]="planetaVariable">

      </app-planeta-star-wars>

    </div>
  </div>

  <!--Incia el tema de comunicacion entre sails y angular-->
  <h1>Bienvenidos</h1>
  <h2>Usuarios</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
      <pre>
        {{nuevoUsuario | json}}
      </pre>
        <label class="col-form-label">Nombre Usuario</label>
        <input class="form-control"
               placeholder="Ingrese nuevo Nombre"
               [(ngModel)]="nuevoUsuario.nombre" type="text"
        >
      </div>
      <button class="btn btn-success" (click)="crearUsuario()" >Crear Usuario</button>
    </div>
  </div>
  <h3>Usuarios:</h3>

  <div class="row">
    <div class="col-sm-3" *ngFor="let usuario of usuarios;let indice = index;">
      <h3>{{usuario.nombre}}</h3>
      <button class="btn btn-danger" (click)="eliminarUsuario(usuario,indice)"> Eliminar usuario</button>
    </div>
  </div>

</div>
